html {
	height: 100%;
	margin: 0;
	padding:0;
}
body {
	
	background-color: black;
	background-repeat: no-repeat;
  	background-size: cover;
    height: 100%;
    margin: 0;
    padding:0;
    }

    
#wrapper{ 
	min-height: 90%;
	position: relative;

 }
main {
	width: 100%;
	float: left;
	padding: 5px 10px 5px 15px;

}

/* this section if for the nav bar */
#nav ul{
	list-style: none;
	float: left;

}

#nav li {
	display: inline-block;
	width: 100px;
	margin: 0 auto;
}
.cf {
	clear: both;
}

.btn {
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: white;
  font-size: 20px;
  background: #5CFA7F;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  width: 32px;
  height: 32px;
}

.btn:hover {
  background: #016b0e;
  text-decoration: none;
}
/* this is the end of the nav */

section { 
	background-color: black;
	width: 42%;
    margin: 1px 42px;
    padding: 0;
	color:#5CFA7F;
}	
#hm {
	background-image: url(images/email.png);
    background-color: #5CFA7F;
    border-color: #1e5608;
    border-radius: 20px;
    border: solid 3px #1e5608;
}
#in {
	background-image: url(images/email.png);
    background-color: #7a6bf8;
    border-color: #321396;
    border-radius: 20px;
    border: solid 3px #321396;
}

#education, h1 {
	color: red;
	
}

#ed {
    background-image: url(images/email.png);
    background-color: #e8311f;
    border-color: #9d1d14;
    border-radius: 20px;
    border: solid 3px #9d1d14;
}

#sk{
	background-image: url(images/email.png);
    background-color: #4d7de1;
    border-color: #294c89;
    border-radius: 20px;
    border: solid 3px #294c89;
}
#interests, h1{
	color: #663399;
}
#skills, h1 {
	color: blue;
}

h1 {
    font-family: 'mrrobotregular';
    font-weight: normal;
    font-style: normal;
	font-size: 100px;
	margin: 3%;
    padding: 0;
    color: #5CFA7F;
    line-height: 90%;
    	
}
footer {
	height: 40px;
	width: 100%;
	color: #5CFA7F;
	bottom: 0;
	left: 0;
	position: relative;
	padding: 36px 40px 5px 60px
	
}
@media screen and (min-width: 500px) {
	
}