body{
	/*background-image: url("/Users/tech-a04/Desktop/MyCVWebsite/codeback.png");*/
	background-color: black;
	background-repeat: no-repeat;
  	background-size: cover; 

}


#nav ul{
	list-style: none;
	float: left;
}

#nav li {
	display: inline-block;
	width: 100px;
	margin: 0 auto;
}
.cf {
	clear: both;
}

.btn {
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: white;
  font-size: 20px;
  background: #5CFA7F;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  width: 32px;
  height: 32px;
}

.btn:hover {
  background: #016b0e;
  text-decoration: none;
}

#personalinfo p {
    margin: 16px 0;
    padding: auto;
}
#work, #education { 
	
	margin: 20px;
	width: 420px;
	height: auto;
	color: #5CFA7F;
	clear: both;
	float: left;
}
 

#profile p { 
	background-color: white;
	margin: 16px 130px;
    padding: auto;
	color:#5CFA7F;
}	

#interest {
	
	margin: 16px 130px;
    padding: auto;
	color: #5CFA7F;  
}


#skills {
	
	float:left;
	color: #5CFA7F;  
}

h1 {
    font-family: 'mrrobotregular';
    font-weight: normal;
    font-style: normal;
	font-size: 100px;
	margin: 18px 41px;
    padding: 6% 0%;
    color: #5CFA7F;
    line-height: 90%;
    	
}

h2 {
	font-family: 'mrrobotregular';
	font-weight: normal;
	font-size: 48px;
	margin: 16px 65px;
    padding: auto;
	
}
#footer {
	
	margin: 16px 13autopx;
    padding: auto;
	color: #5CFA7F;
	bottom: 0;
	position: absolute;
}